<% if flash[:ok] %>
    <p class="notice"><%= flash[:ok] %></p>
<% end %>

<h2>設定</h2>

<%= link_to "アカウント", users_account_path %>
<%= link_to "プロフィール", users_profile_path %>
<%= link_to '編集', users_profile_edit_path %> 

<h4>アイコン画像</h4>
<% if current_user.image.attached? %>
    <%= image_tag @user.image, class: "rounded-circle", width: "100px"%>
<% else %>
    <%= image_tag 'default-avatar.png' %>
<% end %>
<h4>ユーザー名</h4>
<p><%= @user.name %></p>
<h4>自己紹介</h4>
<p><%= @user.intro %></p>

