<div>
    <h3>予約済み一覧</h3>
    <table>
        <tr>
            <th>画像</th>
            <th>施設名</th>
            <th>紹介文</th>
            <th>合計料金</th>
            <th>チェックイン</th>
            <th>チェックアウト</th>
            <th>予約確定日時</th>
        </tr>

        <% @reservations.each do |r| %>
            <tr>
                <% if r.room.image.attached? %>
                    <td><%= image_tag r.room.image, width: "200px"%></td>
                <% else %>
                    <td><%= image_tag 'default_room_image.png', width: '200px' %></td> 
                <% end  %>
                <td><%= r.room.name %></td>
                <td><%= r.room.intro %></td>
                <td><%= "¥#{r.payment}" %></td>
                <td><%= r.checkin %></td>
                <td><%= r.checkout %></td>
                <td><%= r.created_at.strftime("%Y/%m/%d %H:%M") %></td>
            </tr>
            <% end %>
    </table>
</div>
