<div>
    <div>
        <%= search_form_for @q, url: rooms_search_path do |f| %>
        <%= f.search_field :address_cont, placeholder: 'エリア検索' %>
        <%= f.submit '検索' %>
        <% end %>
    </div>
    <div>
        <ul>
            <% @rooms.each do |room| %>
            <% if room.image.attached? %>
            <li><%= image_tag room.image, width: "200px"%></li>
            <% else %>
            <li><%= image_tag 'default_room_image.png', width: '200px' %></li> 
            <% end  %>
            <li><%= room.name %></li>
            <li><%= room.address %></li>
            <li><%= room.intro %></li>
            <li><%= room.fee %></li>
            <%= link_to '詳細', room_path(room) %>
            <% end %>
        </ul>
    </div>
</div>