<div>
    <table>
        <tr>
            <th>施設画像</th>
            <th>施設名</th>
            <th>紹介文</th>
            <th>料金</th>
            <th>作成日</th>
        </tr>
        <% @rooms.each do |room| %>
        <tr>
            <% if room.image.attached? %>
            <td><%= image_tag room.image, width: "150px"%></td>
            <% else %>
            <td><%= image_tag 'default_room_image.png', width: '150px' %></td> 
            <% end  %>
            <td><%= link_to room.name, room_path(room) %> </td>
            <td><%= room.intro %></td>
            <td><%= room.fee %></td>
            <td><%= room.created_at.strftime("%Y/%m/%d") %></td>
        </tr>
        <% end %>
    </table>
</div>

