<h3><%= "検索結果 #{@sum_rooms}件" %></h3>

<div>
    <%= search_form_for @q, url: rooms_search_path do |f| %>
    <%= f.search_field :address_cont, placeholder: 'エリアを入力' %>
    <%= f.submit '検索' %>
    <% end %>
    <%= search_form_for @q, url: rooms_search_path do |f| %>
    <%= f.search_field :name_or_intro_cont, placeholder: 'キーワードを入力' %>
    <%= f.submit '検索' %>
    <% end %>
</div>
<div>
    <ul>
        <% @results.each do |room| %>
        <li><%= render partial: "shared/image_common", locals: { obj: room, width: '200px'} %></li>
        <%= render partial: "shared/room_common", locals: { obj: room} %>
        <%= link_to '詳細', room_path(room) %>
        <% end %>
    </ul>
</div>