<!DOCTYPE html>
<html>
  <head>
    <title>HotelApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
      <h1>Potepan Share</h1>
      <% if user_signed_in? %>
      <!-- <% if current_user.image.attached? %>
      <%= image_tag current_user.image %>
      <% end %> -->
      <p><%= current_user.name %></p>
      <%= link_to "#{current_user.name}", users_account_path %>
      <%= link_to "profile", users_profile_path %>

      <select name="color">
        <option value="red">施設の新規登録</option>
        <option value="blue">予約済み一覧</option>
        <option value="black">登録済み一覧</option>
        <option value="yellow">アカウント設定</option>
        <option value="green">ログアウト</option>
      </select>
      <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% end %>

      <% unless user_signed_in? %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "新規登録", new_user_registration_path %>
      
      <% end %>

      </div>
    </header>
    <%= yield %>
    <footer>
      <div></div>
    </footer>
  </body>
</html>
